*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project

# Specific files for the project
*.swp
.DS_Store
venv/*
collection-app/node_modules/*
