@import "../base";

nav ul { margin-bottom:0; }
nav ul li { display:inline-block; margin-right:15px; font-size:18px; }
nav ul li a { text-decoration:none; background:white; padding:5px; border-radius:18px; }
nav ul li a.home:before { content:url(/img/home.png); margin-right:3px; position:relative; top:1px; }
nav ul li a.build:before { content:url(/img/list-ordered.png); margin-right:3px; position:relative; top:1px; }
a.start { background:#fff; padding:10px; border-radius:18px; font-size:30px; text-decoration:none; margin:0 auto; display:block; width:225px; line-height:45px; }
a.start:before { content:url(/img/pen.png); margin-right:3px; position:relative; top:5px; }