<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->
<import: src="./buildings">
<import: src="./home">
<Title:>
  Sustainability Services: SUBHEADING FROM MODEL HERE

<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>
  <div class="container">
    <div class="sixteen columns">
      <h3>This is an awesome header.</h3>
      <hr/>
    </div>
  </div>

<Footer:>
  <div class="container">
    <div class="sixteen columns">
      <hr/>
      <h3>An awesome footer lives here.</h3>
    </div>
  </div>

