<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<import: src="./home">
<import: src="./list-building">
<import: src="./list-floor">
<import: src="./list-bins">

<Head:>
  <!-- actual header stuff-->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>

<Title:>
  Recycling Collection: {page_name}

<Header:>
  <!-- a header on our page -->
  <ui:connectionAlert>
  <div class="container">
    <div class="sixteen columns">
      <h1>Sustainability Services Collection Log</h1>
	  <nav>
	    <ul>
      <li><a href="/" class="btn home">Home</a></li>
		  <li><a href="/buildings" class="btn build">Buildings</a></li>
	    </ul>
	  </nav>
      <hr/>
    </div>

<Footer:>
    <div class="sixteen columns">
      <hr/>
      <h5><em>&copy; 2013 University of Puget Sound Sustainability Services</em></h5>
    </div>
  </div>

