<Body:>
    <div class="sixteen columns">
      <h3 data-intro="Bins last marked full, but not emptied. Click button to update a bin's status." data-position="bottom">Bins Last Marked Full</h3>
      {#each _full as :curBuild}
        <div class="fifteen columns binbuttons">   
          <p style="font-weight:bold;">{underToSpace(:curBuild.Building)}</p>
          {#each :curBuild['Floors'] as :floor}
            <div class="five columns">
              <p style="font-style:italic;">{underToSpace(:floor.Floor)}</p>
                <div class="button_group">
                  {#each :floor['Bins'] as :bin}
                    <a href="/buildings-{:bin.Building}/floor-{:bin.Floor}/location-{:bin.Location}" class="btn btn-block btn-info">{unescaped idToLocBinText(:bin.id)}</a>
                  {/each}
                </div>
            </div>
          {/each}
        </div>
      {/each}
      <h3 style="clear:both;" data-intro="Bins last checked {daysOld} or more days ago. Click button to update a bin's status." data-position="bottom">Bins Not Checked in {daysOld}+ Days</h3>
      {#each _lonely as :curBuild}
        <div class="fifteen columns binbuttons">   
          <p style="font-weight:bold;">{underToSpace(:curBuild.Building)}</p>
          {#each :curBuild['Floors'] as :floor}
            <div class="five columns">
              <p style="font-style:italic;">{underToSpace(:floor.Floor)}</p>
                <div class="button_group">
                  {#each :floor['Bins'] as :bin}
                    <a href="/buildings-{:bin.Building}/floor-{:bin.Floor}/location-{:bin.Location}" class="btn btn-block btn-info">{unescaped idToLocBinText(:bin.id)}</a>
                  {/each}
                </div>
            </div>
          {/each}
        </div>
      {/each}
    </div>
