<Body:>
    <div class="sixteen columns">
      <h3>Bins for {buildingName} in {floorName} at {locationName}</h3>
      <div class="row">
        {#each binNames as :bName}
          {#with _bins[:bName]}
          <div class="four columns binbuttons">
            <!-- FIXME: Something strange is happening with how 'this' isn't what
            it should be after the first batch of new data, but it works as desired
            -->
            {{:bName}} was last {{this[0]['activity']}}.
            <ul class="button_group">
            <a class="btn btn-bin btn-bin-emptied" 
              x-bind="click: emptiedBin"> Empty {{:bName}}</a>
            <a class="btn btn-bin btn-bin-full"
              x-bind="click: fullBin">{{:bName}} is full</a>
            <a class="btn btn-bin btn-bn-notfull"
              x-bind="click: notFullBin">{{:bName}} is not full</a>
          </ul>
          </br>
          Last Status: {{this[0]['activity']}}.
          </br>
          </br>
          </div>
          {/with}
        {/each}
      </div>
    </div>
