<Body:>
    <div class="sixteen columns">
      <h3 data-intro="A list of floors and locations for this building which have bins to track." data-position="bottom">{{underToSpace(buildingName)}}</h3>
      <ul>
        {#each locsAndFs as :floor}
        <li>{{underToSpace(this.floorName)}}
          <ul>
            {#each this['locs']}
            <li><a href="buildings-{{buildingName}}/floor-{{:floor.floorName}}/location-{{this}}">
              Bins in {{underToSpace(this)}}</a></li>
            {/each}
          </ul>
        </li>
        {/each}
      </ul>
    </div>

