<Body:>
    <div class="sixteen columns">
      <h3>These bins were last marked full</h3>
        <ul>
        {#each _allFull}
          <li>
            <a href="/buildings-{{this.Building}}/floor-{{this.Floor}}/location-{{this.Location}}">
              {{underToSpace(this.Description)}} at {{underToSpace(this.Building)}}/
              {{underToSpace(this.Floor)}}/{{underToSpace(this.Location)}}
            </a>
          </li>
        {/each}
        </ul>
      <h3>These bins have not been checked in {{daysOld}}+ days</h3>
      <ul>
        {#each _allLonely} 
          <li>
            <a href="/buildings-{{this.Building}}/floor-{{this.Floor}}/location-{{this.Location}}">
              {{underToSpace(this.Description)}} at {{underToSpace(this.Building)}}/
              {{underToSpace(this.Floor)}}/{{underToSpace(this.Location)}}
            </a>
          </li>
        {/each}
      </ul>
    </div>
