<Body:>
    <div class="sixteen columns">
      <h3>Bins for {{underToSpace(buildingName)}}/{{underToSpace(floorName)}} 
        /{{underToSpace(locationName)}}</h3>
      <div>
        {#each _bins}
          <div class="four columns binbuttons">
            <p><span class="icon fui-location-16"></span><strong>Bin:</strong> 
            {{underToSpace(this.Description)}}</p>
            <p><span class="icon fui-time-16"></span><strong>Last Status:</strong> 
            {{this.Recent.activity}} </p>
            <ul class="button_group">
            <a class="btn btn-large btn-block btn-info" 
              x-bind="click: emptiedBin"> 
                Empty {{underToSpace(this.Description)}}</a>
            <a class="btn btn-large btn-block btn-danger"
              x-bind="click: fullBin">
                {{underToSpace(this.Description)}} is full</a>
            <a class="btn btn-large btn-block btn-primary"
              x-bind="click: notFullBin">
                {{underToSpace(this.Description)}} is not full</a>
          </ul>
          </div>
        {/each}
      </div>
    </div>
